*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/OPP/*.aux
/OPP/*.lof
/OPP/*.log
/OPP/*.lot
/OPP/*.out
/OPP/*.pdf
/OPP/*.synctex.gz
/OPP/*.toc